<h2>Events Created</h2>
<table>
  <tr>
    <th>Event-Name</th>
    <th>Description</th>
    <th>Event-Time</th> 
    <th>Duration</th>  
  </tr>
 

<% @evennts.each do |evennt| %>
    <tr>
      <td><%= evennt.eventname %></td>
      <td><%= evennt.description %></td>
      <td><%= evennt.eventtime %></td>
      <td><%= evennt.duration %></td>

    </tr>
  <% end %>
</table>

<h2>Events Invited In</h2>
<table>
  <tr>
    <th>Event-Name</th>
    <th>Description</th>
    <th>Event-Time</th> 
    <th>Duration</th>  
  </tr>
 

</table>
