<h1> Show </h1>

<p>
  <strong>EventName:</strong>
  <%= @event.eventname %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Eventtime:</strong>
  <%= @event.eventtime %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @event.duration %>
</p>

